.img {
  width: 445px;
  border-radius: 10px;
}

.inner-container {
  padding-top: 60px;
  padding-left: 40px;
  display: flex;
}

.sm-img {
  width: 88px;
  border-radius: 10px;
}

.other-images {
  padding-top: 32px;
  padding-bottom: 0;
  width: 445px;
  display: flex;
  justify-content: space-between;
}

.title {
  max-width: 300px;
}

.subtitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #69707d;
  font-size: 13px;
  font-weight: bold;
}

.product-text-box {
  padding-top: 45px;
  padding-left: 125px;
}

.text-color {
  color: #69707d;
}

.line-through {
  text-decoration: line-through;
}

.half-price {
  font-weight: bold;
}

.reduced-percentage {
  padding: 10px;
  background: #000;
  color: #fff;
  width: 30px;
  border-radius: 10px;
}

.reduced-price {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cart-items-container {
  display: flex;
  gap: 30px;
}

.cart-adding {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #f6f8fd;
  width: max-content;
  border-radius: 10px;

  .btn-modify {
    background: transparent;
    padding: 14px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.product-number {
  font-weight: bold;
}

.p-9 {
  padding: 0 9px;
}
